* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #333;
}
.container {
  font-family: system-ui;
  text-align: center;
  color: #fd7400;
  background-color: #034e64;
  width: 560px;
  margin: 30px auto;
  font-weight: 500;
}
.container .title {
  background-color: #bfdb39;
  padding: 5px 0;
  margin: 5px 0;
  font-size: 30px;
}
.title span {
  color: #000;
}

.boxs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}
.container .box {
  background-color: #bfdb39;
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 10px;
}
.box:hover {
  cursor: pointer;
  background-color: #000;
}
#rest {
  background-color: #bfdb39;
  cursor: pointer;
  padding: 7px 11px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}
#rest:hover {
  background-color: #000;
}
